<!DOCTYPE html>
<html >
<head>
    <title>CreateKoreanSongs</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <form method="post" action="/CreateKoreanSongs">
        <label for="namesong">Namesong: </label>
        <input type="text" id="namesong" name="namesong"">
        <br>
        <label for="artist">Artist:</label>
        <input type="text" id="artist" name="artist"">
        <br>
        <input type="submit" value="Creat">
    </form>
    <a href="/">Back to List</a>
</body>
</html>
